.filter label {
  font-size: 14px;
}
.filter .top input {
  border: 1px solid rgb(146, 143, 143);
  border-radius: 5px;
  margin-left: 0;
  width: 100%;
  background-color: transparent;
}
.filter .item {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.filter .bottom .item select {
  border: 1px solid rgb(146, 143, 143);
  border-radius: 5px;
  padding: 10px 0px;
  width: 100px;
}
.filter .bottom input {
  border: 1px solid rgb(146, 143, 143);
  background-color: transparent;
  border-radius: 5px;
  width: 100px;
  margin-left: 0;
  margin-top: 0;
}
.filter button {
  width: 100px;
  border-radius: 5px;
  padding-top: 15px;
  margin-top: 20px;
}
